<div class="row">
  <div class="col-md-12">
    <!-- <p *ngIf="username"> Welcome to Socketiochat!!<label for="">{{username}}</label></p> -->
    <blockquote class="blockquote text-center">
      <p class="mb-0">Hi <strong>{{username}}</strong> Welcome to Socketiochat</p>
      <!-- <footer class="blockquote-footer mb-3">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group" *ngIf="username">
      <li class="list-group-item d-flex justify-content-between align-items-center" text-center>
        Connected Users<span class="badge badge-primary badge-pill">{{onlineUsers}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
    <!-- <div class="col-md-2">
      
    
      </div> -->
      <div class="col-md-12">
         <mdb-card>
          <mdb-card-body style="height:200px;overflow-y: scroll;">

            <div class="chat-message" *ngIf="username">

              <ul class="list-unstyled chat" *ngFor="let message of messages">
                  <li class="d-flex justify-content-between mb-8" *ngIf="userid == message.id">
                      <!-- <img  alt="avatar" class="avatar rounded-circle d-flex align-self-start mr-2 z-depth-1"> -->
                      <p></p>
                      <div class="chat-body white p-3 ml-2 z-depth-1" style="width: 300px;">
                          <div class="header">
                              <strong class="primary-font">You</strong>
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                          </div>
                          <hr class="w-100">
                          <p class="mb-0">
                            {{message.text}}
                          </p>
                      </div>
                  </li>
                  <li class="d-flex justify-content-between mb-8" *ngIf="!(userid == message.id)"> 
                      <div class="chat-body white p-3 z-depth-1" style="width: 300px;">
                          <div class="header">
                              <strong class="primary-font">{{message.username}}</strong>
                              <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                          </div>
                          <hr class="w-100">
                          <p class="mb-0">
                            {{message.text}}
                          </p>
                      </div>
                      <p></p>
                      <!-- <img  alt="avatar" class="avatar rounded-circle d-flex align-self-start ml-2 z-depth-1"> -->
                  </li>
              </ul>

          </div>
            
          </mdb-card-body>
        </mdb-card>
    </div>
</div>

<div class="row">
      <!-- <div class="col-md-2">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Online<span class="badge badge-primary badge-pill">{{onlineUsers}}</span>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of users">{{ ((user.username).length>6)? (user.username | slice:0:6)+'..':(user.username) }}</li>
        </ul>
      </div> -->
      <div class="col-md-12">
         <form [formGroup]="signupForm" >
          <div class="md-form">
            <textarea 
              mdbInputDirective 
              type="text" 
              id="form76" 
              class="md-textarea form-control" 
              rows="3" 
              formControlName="chatmessage"
              (keyup)="sendMessage($event,userid)"
              ></textarea>
            <label for="form76">Enter message</label>
          </div>
        </form>
    </div>
</div>



<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true, keyboard:false}"> 
  <!-- keyboard:false -->
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Welcome to SocketChatIO!!</p>
      </div>

      <div class="modal-body">
        <i class="fa fa-handshake-o fa-4x animated rotateIn"></i>
      </div>

      <div class="modal-footer flex-center">
        <form [formGroup]="usernameform">
          <div class="md-form">
            <input mdbInputDirective type="text" id="Username" class="form-control" data-error="Invalid Nickname" data-success="Valid Nickname" formControlName="username">
            <label for="Username" class="">Please Enter 10 Character Nickname</label>
            <button type="button" mdbBtn color="primary" (click)="startChat()" [disabled]="!usernameform.valid" class="relative waves-light" mdbWavesEffect>Start Chatting</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>

