<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">Welcome to SocketChatIO</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">Realtime chat application powered by angular 6, mdbootstrap and socket.io</p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">This application is a simple realtime chat application.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4">

  <div class="pt-2">
    <!-- <button type="button" mdbBtn color="blue" mdbWavesEffect>Buy now <mdb-icon icon="diamond" class="ml-1"></mdb-icon> </button>
    <button type="button" mdbBtn color="primary" outline="true" mdbWavesEffect> Download <mdb-icon icon="download" class="ml-1"></mdb-icon></button> -->
  </div>

</div>
<!-- Jumbotron -->